body {
    display: block;
    margin: 8px;
}
div{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
th{
    border: 1px solid black;
}
td {
    border: 1px solid black;
}
thead {
    background-color: red;
    color: white;
}
tbody:active {
    background-color: yellow;
}
tfoot {
    background-color: #40ff00;
    color: white;
}
.ocupar{
    width: 100%;
    height: 100%;
    margin: auto;
}